@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

body{
    background-color: var(--white);
    min-width: 350px;
    font-family: 'Public Sans', sans-serif;
    overflow-x: hidden;
}

/*This is a mobile first design. 
In the header, only the logo and the burger icon are displayed*/
header{
    background-color: var(--white);
    width: 100%;
    height: 65px;
    border-bottom: 1px solid var(--light-grayish-blue);
    padding: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}

/*This shadow only appears when the navbar is shown on mobile screen.*/
.header-shadow{
    box-shadow: 0 0 100px 400px hsla(233, 5%, 34%, 0.781);
}

.icon{
    padding-top: 10px;
}

.nav-bar{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 1.5rem;
    margin-inline: auto;
    width: min(calc(100% - 3rem), 350px);
    padding: 1.5rem;
    background-color: var(--white);
    border: 1px solid var(--light-grayish-blue);
    border-radius: 5px;
    box-shadow: 0 0 10px 5px hsla(233, 5%, 34%, 0.781);
    transform: translateX(150%); /*hides the navbar from the screen*/
    transition: transform 0.3s ease;
}

.nav-active{
    transition: transform 0.3s ease;
    transform: translateX(0%); /*moves the navbar to the screen*/
}

.nav-bar ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.nav-bar a{
    text-decoration: none;
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    color: black;
}

.nav-bar li{
    list-style: none;
}

.burger-icon{
    display: grid;
    justify-items: center;
    align-items: center;
}

.burger-hide{
    display: none;
}

.btn-request-invite{
    display: none;
    border: none;
    border-radius: 1.5rem;
    padding: .8rem 2rem;
    background: linear-gradient(120deg, var(--lime-green) 20%, var(--bright-cyan) 90%);;
    color: var(--white);
    font-size: 12px;
    font-weight: 700;
}

.btn-request-invite:hover{
    opacity: .7;
}

.btn-request-invite:active{
    opacity: .5;
}

.hero-section{
    width: 100%;
    min-height: max(500px, 100vh);;
    padding-top: 65px;
    display: grid;
    grid-auto-flow: row;
    background-color: var(--very-light-gray);
}

.hero-img{
    width: 100%;
    min-height: 50vh;
    position: relative;
    background-image: url(./images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100% 150%;
    background-position: 11% 60%;
}

.hero-phone-img{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 90%;
    aspect-ratio: .8 / 1;
    margin-inline: auto;
}

.hero-text{
    padding: 0 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hero-text h1, .hero-text p,
.features-section h2, .features-section p{
    text-align: center;
}

.hero-text h1{
    font-size: 2.3rem;
    font-weight: 300;
    letter-spacing: .7px;
    color: black;
}

.hero-text p,
.features-section p,
.features-section-main-text p{
    font-size: .8rem;
    font-weight: 300;
    line-height: 1.3rem;
    color: var(--grayish-blue);
}

.hero-text button{
    display: block;
    width: max-content;
    align-self: center;
}

.features-section{
    width: 100%;
    padding: 3rem 10% 1rem;
    background-color: var(--light-grayish-blue);
}

.features-section-main-text{
    margin-bottom: 3rem;
    /*padding: .8rem;*/
}

.features-section-main-text h2{
    font-size: 1.7rem;
    font-weight: 300;
    color: black;
    line-height: 2rem;
    margin-bottom: 1rem;
}

.feature-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.feature-container h3{
    font-size: 1.3rem;
    font-weight: 300;
    color: black;
}

@media screen and (min-width: 650px) {

    header{
        padding: 1.3rem 2.5rem;
    }

    .burger-icon{
        display: none;
    }

    .nav-bar, .nav-bar ul{
        all: unset;
    }

    .nav-bar ul{
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }

    .nav-bar a{
        font-size: 13px;
        color: var(--grayish-blue);
        position: relative;
    }

    .nav-bar a:hover{
        color: black;
    }

    .nav-bar a::before{
        content: '';
        display: block;
        height: 3px;
        background: var(--lime-green);
        position: absolute;
        bottom: -23px;
        left: -5px;
        right: -5px;
        transform: scale(0,1);
        transform-origin: left;
        transition: transform ease-in-out 250ms;
    }

    .nav-bar a:hover::before{
        transform: scale(1,1);
    }

    .hero-section{
        width: 100%;
        min-height: max(500px, 60vh);
        padding: 65px 0 0 2rem;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr minmax(400px, 1fr);
    }

    .hero-img{
        grid-column: 2 / 3;
        background-image: url(./images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        background-size: 200% 180%;
        background-position: 11% 60%;
    }

    .hero-phone-img{
        all: unset;
        position: absolute;
        top: -20%;
        left: 15%;
        width: 450px;
        aspect-ratio: 3/4;
    }

    .hero-text{
        grid-column: 1 / 2;
        gap: .8rem;
        justify-content: center;
        padding-top: 3rem;
    }

    .hero-text h1, .hero-text p,
    .features-section-main-text h2, .features-section-main-text p,
    .feature-container h3, .feature-container p{
        text-align: left;
    }

    .hero-text h1{
        font-size: 2rem;
    }

    .hero-text button{
        align-self: flex-start;
    }

    .features-section{
        padding: 3rem 4rem 2rem;
    }

    .features-section-main-text p{
        max-width: 450px;
    }

    .feature-flex-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
        max-width: 88%;
    }

    .feature-container{
        width: 200px;
        align-items: flex-start;
    }

}

@media  screen and (min-width: 880px) {

    header{
        justify-content: space-around;
    }

    .icon{
        margin-right: 3rem;
    }
    
    .btn-request-invite{
        display: block;
    }

    .nav-bar ul{
        gap: 2rem;
    }

    .hero-section{
        min-height: max(90vh, 600px);
        grid-template-columns: 1fr 1fr;
    }

    .hero-text{
        padding-left: 20%;
        gap: 1.2rem;
    }

    .hero-text h1{
        max-width: 500px;
        font-size: 3rem;
    }

    .hero-text p{
        max-width: 400px;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .hero-phone-img{
        width: min(110%, 700px);
        height: 140%;
    }

    .features-section{
        padding: 3rem 8% 1rem 12%;
    }

    .features-section-main-text p{
        max-width: 480px;
    }

    .feature-flex-container{
        max-width: 1000px;
    }

}



.sub-div{
    width: 100%;
    height: 1000px;
}